<html>
    <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Counter for word matches</title>
    </head>
    <body>
        <div class='container'>
            <h1>Find out how many times you repeat yourself!</h1>
            <p>You repeated yourself {{ results[0] }} time(s)! Stop talking so much!</p>
            <a href='/'><button class='btn-default'>Do Over</button></a>
        </div>
    </body>
</html>
